@model WebApp.ViewModels.Dashboard.OrganizationViewModel

@{
    ViewData["Title"] = Model.OrganizationName + " | Admin";
}

<h1 class="text-center center">@Model.OrganizationName</h1>
<hr/>
<div class="row">
    <div class="col-lg-6">
        <h1>
            @Resources.Dashboard.Organization.CategoriesTitle
            <a class="btn btn-primary" asp-controller="Category" asp-action="Create" asp-route-id="@Model.OrganizationId">
                @Resources.Dashboard.Organization.CategoryCreate
            </a>
        </h1>
        <hr/>
        @foreach (var category in Model.Categories)
        {
            <div class="small-box bg-success">
                <div class="inner">
                    <h4> @category.CategoryName </h4>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <button class="btn btn-light mb-2" data-toggle="collapse" data-target="#products@(category.CategoryId)">
                                <i class="fa fa-plus mr-1" aria-hidden="true"></i>@Resources.Dashboard.Organization.CategoryProducts
                            </button>
                            <div class="collapse " id="products@(category.CategoryId)">
                                <ul>
                                    @foreach (var product in category.Products)
                                    {
                                        <li>@product.ProductName</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-light mb-2" data-toggle="collapse" data-target="#changes@(category.CategoryId)">
                                <i class="fa fa-plus mr-1" aria-hidden="true"></i>@Resources.Dashboard.Organization.CategoryChanges
                            </button>
                            <div class="collapse " id="changes@(category.CategoryId)">
                                <ul>
                                    @foreach (var change in category.Changes)
                                    {
                                        <li>@change.Name</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="icon">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        }
        <h1>
            @Resources.Dashboard.Organization.ChangeTitle
            @if (Model.Categories != null && Model.Categories.Count > 0)
            {
                <a class="btn btn-primary" asp-controller="Change" asp-action="Create" asp-route-id="@Model.OrganizationId">
                    @Resources.Dashboard.Organization.ChangeCreate
                </a>   
            }
        </h1>
        <hr/>
        @foreach (var change in Model.Changes)
        {
            <div class="small-box bg-danger">
                <div class="inner">
                    <h4> @change.Name - <span>@($"{change.CurrentPrice:N2}") €</span> </h4>
                    <a class="btn btn-outline-dark mb-2" asp-controller="Change" asp-action="Delete" asp-route-id="@change.Id">
                        <i class="fa fa-times mr-1" aria-hidden="true"></i>@Resources.Dashboard.Organization.ChangeRemove
                    </a>
                    <a class="btn btn-warning mb-2" asp-controller="Change" asp-action="Edit" asp-route-id="@change.Id">
                        <i class="fa fa-edit mr-1" aria-hidden="true"></i>@Resources.Dashboard.Organization.ChangeEdit
                    </a>
                    <div class="row">
                        <div class="col-lg-4">
                            <button class="btn btn-light mb-2" data-toggle="collapse" data-target="#changeCategories@(change.Id)">
                                <i class="fa fa-plus mr-1" aria-hidden="true"></i>@Resources.Dashboard.Organization.ChangeCategories
                            </button>
                            <div class="collapse " id="changeCategories@(change.Id)">
                                <ul>
                                    @foreach (var category in change.Categories)
                                    {
                                        <li>@category.Name</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="icon">
                    <i class="fa fa-plus-circle"></i>
                </div>
            </div>
        }
    </div>
    <div class="col-lg-6">
        <h1>
            @Resources.Dashboard.Organization.ProductTitle 
            @if (Model.Categories != null && Model.Categories.Count > 0)
            {
                <a class="btn btn-primary" asp-controller="Product" asp-action="Create" asp-route-id="@Model.OrganizationId">
                    @Resources.Dashboard.Organization.ProductCreate
                </a>
            }
        </h1>
        <hr/>
        @foreach (var product in Model.Products)
        {
            <div class="small-box bg-primary">
                <div class="inner">
                    <h4> @product.ProductName - <span>@($"{product.CurrentPrice:N2}") €</span></h4>
                    <h6> @product.Description </h6>
                    <a class="btn btn-danger mb-2" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">
                        <i class="fa fa-times mr-1" aria-hidden="true"></i>@Resources.Dashboard.Organization.ProductRemove
                    </a>
                    <a class="btn btn-warning mb-2" asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">
                        <i class="fa fa-edit mr-1" aria-hidden="true"></i>@Resources.Dashboard.Organization.ProductEdit
                    </a>
                    <div class="row">
                        <div class="col-lg-4">
                            <button class="btn btn-light mb-2" data-toggle="collapse" data-target="#productCategories@(product.Id)">
                                <i class="fa fa-plus mr-1" aria-hidden="true"></i>@Resources.Dashboard.Organization.ProductCategories
                            </button>
                            <div class="collapse " id="productCategories@(product.Id)">
                                <ul>
                                    @foreach (var category in product.Categories)
                                    {
                                        <li>@category.Name</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="icon">
                    <i class="ion ion-pizza"></i>
                </div>
            </div>
        }
    </div>
</div>