@model IEnumerable<Domain.ReceiptParticipant>

@{
    ViewData["Title"] = "Index";
}
<h1>Receipt Participants</h1>
<h4>Index</h4>

<div class="row">
    <div class="col-12">
        <div class="card card-dark">
            @* Card Header *@
            <div class="card-header">
                <h3 class="card-title">All Receipt Participants</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm">
                        <form>
                            <button class="btn btn-success btn-tool" asp-area="" asp-action="Create">
                                <i class="fa fa-plus"></i>
                                Create New
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            @* Card body *@
            <div class="card-body table-responsive p-0">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Receipt Id
                        </th>
                        <th>
                            App User Nickname
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Receipt.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppUser.UserNickname)
                            </td>
                            <td>
                                <form>
                                    <div class="btn-group">
                                        <button class="btn btn-success border-right" asp-action="Edit" asp-route-id="@item.Id">
                                            <i class="fa fa-edit"></i>
                                            Edit
                                        </button>
                                        <button class="btn btn-primary border-left border-right" asp-action="Details" asp-route-id="@item.Id">
                                            <i class="fa fa-info-circle"></i>
                                            Details
                                        </button>
                                        <button class="btn btn-danger border-left" asp-action="Delete" asp-route-id="@item.Id">
                                            <i class="fa fa-times"></i>
                                            Delete
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
