@model Domain.ReceiptRow

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<h4>Receipt Row</h4>
<hr/>

<div class="col-md-9">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa fa-info-circle"></i>
            </h3>
        </div>

        @* Card Body *@
        <div class="card-body">
            <dt>
                Id
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            @* Model specific fields *@
            <dt>
                Amount
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>
            <dt>
                Row Discount
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RowDiscount)
                @if(Model.RowDiscount == null){<span>-</span>}
            </dd>
            <dt>
                Product Name
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Product.ProductName)
            </dd>
            <dt>
                Receipt Id
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Receipt.Id)
            </dd>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

<form>
    <div class="btn-group">
        <button class="btn btn-success border-right" asp-action="Edit" asp-route-id="@Model.Id">
            <i class="fa fa-edit"></i>
            Edit
        </button>
        <button class="btn btn-default border-left" asp-action="Index">
            <i class="fa fa-list"></i>
            Back to List
        </button>
    </div>
</form>