@page
@model LoginModel

@{
    ViewData["Title"] = @Resources.Account.Login.PageTitle;
}

<div class="login-box">
    <div class="login-logo">
        <span>Pizza Sharing</span>
        <hr/>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">@Resources.Account.Login.LoginTitle</p>

            <form form id="account" method="post">
                @* <div asp-validation-summary="All" class="text-danger"></div> *@

                <span asp-validation-for="Input.Email" class="text-danger"></span>
                
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="@Resources.Account.Login.EmailPlaceholder" asp-for="Input.Email">
                    <div class="input-group-append">
                        <span class="fa fa-envelope input-group-text"></span>
                    </div>
                </div>
                
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="@Resources.Account.Login.PasswordPlaceholder" asp-for="Input.Password">
                    <div class="input-group-append">
                        <span class="fa fa-lock input-group-text"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        <div class="checkbox icheck">
                            <label>
                                <input asp-for="Input.RememberMe"/>
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">@Resources.Account.Login.LogInButton</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mb-1">
                <a id="forgot-password" asp-page="./ForgotPassword">@Resources.Account.Login.ForgotPassword</a>
            </p>
            <p class="mb-0">
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@Resources.Account.Login.RegisterLink</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="~/AdminLTE/plugins/iCheck/icheck.min.js"></script>
}
