@model WebApp.ViewModels.Product.DeleteProductViewModel

@{
    ViewData["Title"] = "Delete Product";
}

<h1>Delete</h1>

<h4>Are you sure you want to delete this product?</h4>
<hr/>

<div class="col-md-9">
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title"><i class="fa fa-times"></i></h3>
        </div>
        @* Card Body *@
        <div class="card-body">
            @* Model specific fields *@
            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <form asp-action="DeleteConfirmed">
                <input type="hidden" asp-for="ProductId" />
                <input type="hidden" asp-for="OrganizationId" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
    </div>
    <!-- /.card -->
</div>

<form >
    <button class="btn btn-default" asp-controller="Dashboard" asp-action="Organization" asp-route-id="@Model.OrganizationId">
        <i class="fa fa-list"></i>
        Back to list
    </button>
</form>
