@model WebApp.ViewModels.Product.EditProductViewModel

@{
    ViewData["Title"] = @Resources.Product.Edit.PageTitle + " | " + @Model.ProductName;
}

<h1>@Resources.Product.Edit.Title1</h1>

<h4>@Resources.Product.Edit.Title2</h4>
<hr/>

<div class="col-md-6">
    <div class="card card-warning">

        @* Card Header *@
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa fa-edit"></i>
            </h3>
        </div>
        <form role="form" asp-action="Edit">

            @* Card Body *@
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control"/>
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" min="0" max="10000" class="form-control" asp-format="{0:N2}"/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SelectedCategories" class="control-label"></label>
                    <select asp-for="SelectedCategories" size="@(Model.Categories.Count >= 10 ? 10 : Model.Categories.Count)" class="form-control" asp-items="Model.Categories"></select>
                    <span asp-validation-for="SelectedCategories" class="text-danger"></span>
                </div>

            </div>

            @* Card Footer *@
            <div class="card-footer">
                <div class="form-group">
                    <input type="hidden" asp-for="ProductId"/>
                    <input type="hidden" asp-for="OrganizationId"/>
                    <input type="submit" value="@Resources.Product.Edit.SubmitButton" class="btn btn-primary"/>
                </div>
            </div>

        </form>
    </div>
</div>

<form >
    <button class="btn btn-default" asp-controller="Dashboard" asp-action="Organization" asp-route-id="@Model.OrganizationId">
        <i class="fa fa-list"></i>
        @Resources.Product.Edit.BackButton
    </button>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}