@model Domain.ReceiptRowChange

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReceiptRowChange</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiptRow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiptRow.ReceiptRowId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Change)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Change.ChangeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReceiptRowChangeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
