@model Domain.Price

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h4>Price</h4>
<hr />

<div class="col-md-9">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa fa-info-circle"></i>
            </h3>
        </div>

        @* Card Body *@
        <div class="card-body">
            <dt>
                Id
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                Price Value
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Value)
            </dd>
            <dt >
                Product Name
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Product.ProductName)
                @if(Model.Product == null){<span>-</span>}
            </dd>
            <dt >
                Change Name
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Change.ChangeName)
                @if(Model.Change == null){<span>-</span>}
            </dd>
            <dt>
                Valid From
            </dt>
            <dd>
                @Model.ValidFrom.ToString("dd/MM/yyyy")
            </dd>
            <dt>
                Valid To
            </dt>
            <dd>
                @Model.ValidTo.ToString("dd/MM/yyyy")
            </dd>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

<form>
    <div class="btn-group">
        <button class="btn btn-success border-right" asp-action="Edit" asp-route-id="@Model.Id">
            <i class="fa fa-edit"></i>
            Edit
        </button>
        <button class="btn btn-default border-left" asp-action="Index">
            <i class="fa fa-list"></i>
            Back to List
        </button>
    </div>
</form>
